:root {
  --base-font: 16px;
  --cover-bg-color: #536878;
  --cover-tex-color: #fff;
  --font-family-primary: "Oxygen";
  --font-family-secondary: "Open Sans";
  --color-text: #000;
  --color-grey: #C0C6CB;
  --flex-small-column-size: 20%;
  --flex-large-column-size: 80%;
}
html,
body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
}
a {
  text-decoration: none;
}
main {
  margin: 1rem;
}
.cover {
  background-color: #536878;
  background: linear-gradient(-182deg, #27408E 9%, #536CB5 84%);
  color: #fff;
  padding: 4rem 0;
  text-align: center;
  margin-bottom: 10px;
}
.cover .title {
  font-size: 7rem;
}
.cover .title .last-name {
  font-weight: bold;
}
.cover .subtitle {
  font-size: 3rem;
}
#panels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#contact-info,
#dev-skills,
#languages {
  flex-basis: 20%;
}
#selected-projects,
#experience,
#education {
  flex-basis: 80%;
}
.panel {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  font-family: "Open Sans";
}
.panel .panel-title {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Oxygen";
  background-color: white;
  z-index: 10;
  display: inline;
  padding-right: 10px;
  text-align: center;
}
.panel .panel-title.contact-info {
  color: #ff0000;
}
.panel .panel-title.selected-projects {
  color: #4a86e8;
}
.panel .panel-title.dev-skills {
  color: #ff9900;
}
.panel .panel-title.languages {
  color: #ff00ff;
}
.panel .panel-title.experience {
  color: #00ff00;
}
.panel .panel-title.education {
  color: #9900ff;
}
.panel .panel-content .panel-item {
  font-size: 1.37rem;
}
.panel .panel-content .panel-item .text {
  color: #000;
}
.panel .panel-content .panel-item .text-grey {
  color: #C0C6CB;
}
.panel .panel-content .panel-item .bold {
  font-weight: bold;
}
.panel .panel-content .panel-item a:link,
.panel .panel-content .panel-item a:visited,
.panel .panel-content .panel-item a:hover,
.panel .panel-content .panel-item a:active {
  color: #000;
}
.panel .panel-content .panel-item .list .list-item {
  padding-left: 1.5em;
  text-indent: -1.1em;
}
.panel .panel-content .panel-item .list .list-item:before {
  content: "âŒ";
  padding-right: 5px;
  font-weight: bold;
}
@media (max-width: 249.999999px) {
  main {
    margin: 0.3rem;
  }
  .cover {
    padding: 1rem 0;
  }
  .cover .title {
    font-size: 2rem;
  }
  .cover .title > span {
    display: block;
  }
  .cover .subtitle {
    font-size: 1.2rem;
  }
  .panel .panel-title {
    font-size: 1.7rem;
    display: block;
    text-align: center;
  }
  .panel .panel-content {
    margin-top: 10px;
  }
  .panel .panel-content .panel-item {
    flex: 1;
    flex-basis: 33%;
    font-size: 1rem;
  }
}
@media (min-width: 250px) and (max-width: 449.999999px) {
  main {
    margin: 0.3rem;
  }
  .cover {
    padding: 1rem 0;
  }
  .cover .title {
    font-size: 2.3rem;
  }
  .cover .title > span {
    display: block;
  }
  .cover .subtitle {
    margin-top: 5px;
    font-size: 1.5rem;
  }
  .panel .panel-title {
    font-size: 2rem;
    display: block;
    text-align: center;
  }
  .panel .panel-content {
    margin-top: 10px;
  }
  .panel .panel-content .panel-item {
    flex: 1;
    flex-basis: 33%;
    font-size: 1.3rem;
  }
}
@media (min-width: 450px) and (max-width: 767.999999px) {
  .cover {
    padding: 1em 0;
  }
  .cover .title {
    font-size: 3rem;
  }
  .cover .title > span {
    display: block;
  }
  .cover .subtitle {
    margin-top: 5px;
    font-size: 1.8rem;
  }
  .panel .panel-title {
    font-size: 2.3rem;
    display: block;
    text-align: center;
  }
  .panel .panel-content {
    margin-top: 10px;
  }
  .panel .panel-content .panel-item {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1169.999999px) {
  .cover {
    padding: 2em 0;
  }
  .cover .title {
    font-size: 3.5rem;
  }
  .cover .subtitle {
    font-size: 1.4rem;
  }
  #contact-info,
  #dev-skills,
  #languages {
    flex-basis: 30%;
  }
  #selected-projects,
  #experience,
  #education {
    flex-basis: 70%;
  }
  .panel .panel-title {
    font-size: 1.875rem;
  }
  .panel .panel-content .panel-item {
    font-size: 1rem;
  }
}
@media (min-width: 1170px) and (max-width: 1489.999999px) {
  .cover {
    padding: 3em 0;
  }
  .cover .title {
    font-size: 5rem;
  }
  .cover .subtitle {
    font-size: 2rem;
  }
  #contact-info,
  #dev-skills,
  #languages {
    flex-basis: 25%;
  }
  #selected-projects,
  #experience,
  #education {
    flex-basis: 75%;
  }
  .panel .panel-title {
    font-size: 1.875rem;
  }
  .panel .panel-content .panel-item {
    font-size: 1.336rem;
  }
}
@media print {
  main {
    margin: 0;
  }
  .cover {
    padding: 3rem 0;
  }
  .cover .title {
    font-size: 3rem;
  }
  .panel .panel-title {
    font-size: 1.5rem;
  }
  .panel .panel-content .panel-item {
    font-size: 0.8rem;
  }
  #contact-info {
    flex-basis: 25%;
  }
  #selected-projects {
    flex-basis: 75%;
  }
  #dev-skills {
    flex-basis: 25%;
  }
  #experience {
    flex-basis: 75%;
  }
  #languages {
    flex-basis: 25%;
  }
  #education {
    flex-basis: 75%;
  }
}
