@media print {
  main {
    margin: 0;
  }
  .cover {
    padding: 3rem 0;

    .title {
      font-size: 3rem;
    }
  }

  .panel {
    .panel-title {
      font-size: 1.5rem;
    }

    .panel-content {
      .panel-item {
        font-size: 0.8rem;
      }
    }
  }
  

  #contact-info {
    flex-basis: 25%;
  }

  #selected-projects {
    flex-basis: 75%;
  }

  #dev-skills {
    flex-basis: 25%;
  }

  #experience {
    flex-basis: 75%;
  }

  #languages {
    flex-basis: 25%;
  }

  #education {
    flex-basis: 75%;
  }

  #separators {
    display: none;
  }

  #know-more {
    page-break-before: always;
    width: 100vw;
    height: 100vh;
  }
}