@media (max-width: 249.999999px) {
  main {
    margin: 0.3rem;
  }

  .cover {
    padding: 0 0 1rem 0;
    flex-direction: column;

    .logo h1 > a {
      font-size: 4rem;
    }

    .information {
      .title {
        font-size: 2rem;
      }

      .description {
        font-size: 0.8rem;
      }
    }
  }

  .panels {
    .left {
      flex-basis: 100%;
    }
    .right {
      flex-basis: 100%;
    }

    .panel {
      .panel-title {
        font-size: 2rem;
        line-height: 1.2;
        display: block;
        text-align: center;
      }

      .panel-content {
        .panel-item {
          flex: 1;
          flex-basis: 33%;
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 449.999999px) {
  main {
    margin: 0.3rem;
  }

  .cover {
    padding: 0 0 1rem 0;
    flex-direction: column;

    .logo h1 > a {
      font-size: 3rem;
    }

    .information {
      .title {
        font-size: 1.6rem;
      }

      .description {
        font-size: 1rem;
      }
    }
  }

  .panels {
    .left {
      flex-basis: 100%;
    }

    .right {
      flex-basis: 100%;
    }

    .panel {
      .panel-title {
        font-size: 1.3rem;
        display: block;
        text-align: center;
      }

      .panel-content {
        .panel-item {
          font-size: 1rem;
        }
      }
    }
  }

  .skill {
    font-size: 0.7rem;
  }
}

@media (min-width: 450px) and (max-width: 767.999999px) {
  .cover {
    padding: 0 0 1rem 0;
    flex-direction: column;

    .logo h1 > a {
      font-size: 6rem;
    }

    .information {
      .title {
        font-size: 3rem;
      }

      .description {
        font-size: 1rem;
      }
    }
  }

  .panels {
    .left {
      flex-basis: 100%;
    }

    .right {
      flex-basis: 100%;
    }

    .panel {
      .panel-title {
        font-size: 1.5rem;
        display: block;
        text-align: left;
      }

      .panel-content {
        .panel-item {
          font-size: 1rem;
        }
      }
    }
  }

  .skill {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 1169.999999px) {
  .cover {
    padding: 2em 0;

    .logo h1 > a {
      font-size: 8rem;
    }

    .information {
      .title {
        font-size: 3.5rem;
      }

      .description {
        font-size: 1rem;
      }
    }
  }

  .panels {
    .left {
      margin-right: 0;
      flex-basis: 30%;
    }

    .right {
      flex-basis: 70%;
    }

    .panel {
      .panel-title {
        font-size: 1.7rem;
      }

      .panel-content {
        .panel-item {
          font-size: 1rem;
        }
      }
    }
  }

  .panel {
    .panel-title {
      font-size: 1.875rem;
    }

    .panel-content {
      .panel-item {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 1170px) and (max-width: 1489.999999px) {
  .cover {
    padding: 3em 0;

    .information {
      .title {
        font-size: 5rem;
      }

      .description {
        font-size: 1rem;
      }
    }
  }

  .panels {
    .left {
      margin-right: 0;
      flex-basis: 25%;
    }

    .right {
      flex-basis: 75%;
    }

    .panel {
      .panel-title {
        font-size: 1.875rem;
      }

      .panel-content {
        .panel-item {
          font-size: 1.336rem;
        }
      }
    }
  }
}
