// Variables
@base-font: 16px;
@cover-bg-color: #536878;
@cover-tex-color: #fff;
@font-family-primary: "Oxygen";
@font-family-secondary: "Open Sans";
@color-text: #000;
@color-grey: #C0C6CB;
@flex-small-column-size: 20%;
@flex-large-column-size: 80%;

// panels
@contact-info-color: #ff0000;
@selected-projects-color: #4a86e8;
@dev-skills-color: #ff9900;
@languages-color: #ff00ff;
@experience-color: #00ff00;
@education-color: #9900ff;

@panel-item-font-size: 1.37rem;